#images a {
	border: 0px;
}

#images img.thumbnail {
	border: 1px solid black;
	margin: 5px;
	height: 100px;
}

#qranduri {
	float: right;
	border: 1px solid gray;
	padding: 10px;
	background: white;
	text-align: center;

	font-size: smaller;
}

#adminbutton {
	float: right;
	margin-left: 10px;
}
