#navigation {
	padding: 6px 10px 2px 10px;
	background: #3F4C6B;
	font-family: sans-serif;
}

#viewnav {
	color: #f0e39e;
	margin-left: 20px;
}

.tab {
	padding: 5px 0 0 0;
	margin: 0 5px 0 5px;
	border-bottom: 5px solid #f0e39e;
	font-weight: bold;
}

a.tab {
	text-decoration: none;
	color: #f0e39e;
}

#navigation a {
	color: white;
}

.activetab {
	padding: 5px 0 0 0;
	margin: 0 5px 0 5px;
	border-bottom: 10px solid #e6a948;
	color: #FFFF88;
	font-weight: bold;
}

body {
	margin: 0px;
	background: #3F4C6B;
	color: #36393D;
}

#module {
	padding: 0px 30px 15px 30px;
	background: #f0e39e;
}

#title {
	padding-top: 10px;
	font-size: 40px;
	font-family: serif;
}

form {
	margin: 0;
	padding: 0;
}

#formbottom {
	padding: 10px 30px 10px 30px;
}

#formbottom input {
	background: white;
	font-size: 20px;
}

#footer {
	color: #f0e39e;
	font-size: small;
	text-align: center;
}

#footer a {
	color: white;
}

#message {
	margin: 10px;
	padding: 10px;
}

#message.savesuccess {
	background: #2D8F2C;
	font-size: x-large;
	color: #FFFF88;
	border: 1px solid green;
}

#message.savefailure {
	background: red;
	font-size: x-large;
	color: #FFFF88;
	border: 1px solid #BF0000;
}

#messageicon {
	vertical-align: middle;
}
